<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="PikaAddress">
    <resultMap type="PikaAddress" id="PikaAddressMap">
        <id property="id" column="id"/>
        <result property="createId" column="create_id"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedId" column="updated_id"/>
        <result property="updatedAt" column="updated_at"/>
        <result property="delFlag" column="del_flag"/>

        <result property="pid" column="pid"/>
        <result property="level" column="level"/>
        <result property="name" column="name"/>
        <result property="pinyin" column="pinyin"/>
        <result property="englishName" column="english_name"/>
        <result property="unicodeCode" column="unicode_code"/>
    </resultMap>

    <sql id="tb">
        `pikachu_address`
    </sql>

    <sql id="cols_exclude_id">
        `pid`, `level`, `name`, pinyin, english_name, unicode_code,
        create_id, created_at, updated_id, updated_at
    </sql>

    <sql id="cols">
        id,
        <include refid="cols_exclude_id"/>
    </sql>

    <select id="findById" parameterType="long" resultMap="PikaAddressMap">
        select <include refid="cols"/>
        from <include refid="tb"/>
        where id = #{id} and del_flag = 0
    </select>
</mapper>